@charset "utf-8";

body{
    background-image:url(../img/漢文背景イメージ.jpg);
    background-blend-mode: lighten;
    background-color:rgba(255,255,255,0.8);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    padding:5px 80px;
}

div{
    font-size:25px;
}

.sub{
    text-align:center;
}

img{
    background-color:white; 
}